/*-----*/

:root {
    --bgrm-overlay: rgba(0,0,0,0.5);
}

/*-----*/

.da-backdrop[style*='0.85'] {
    background-color: rgba(0,0,0,0.65) !important;
}

.app .search-results-wrap .search-result .hit,
.da-popouts .da-messageGroupWrapper:hover .da-actionButtons {
    box-shadow: none;
}

.app .da-autocomplete,
.app .da-content,
.app .da-embedInner,
.app .da-guildsAdd,
.app .da-hasMore button,
.app .da-inner,
.app .da-markup code,
.app .da-markup code.inline,
.app .da-member:hover .da-content,
.app .da-member.popout-open .da-content,
.app .da-member.popout-open:hover .da-content,
.app .search .search-bar,
.app .search-results-wrap .search-result .hit,
.app .da-searchAnswer,
.app .da-searchFilter,
.app .da-selectorSelected,
.app .da-wrapper,
.bda-dark .da-emoji .category,
.bda-dark .da-emojiPicker .da-category,
.bda-dark .da-emojiPicker,
.bda-dark #bda-qem button.active,
.bda-dark #bda-qem button:hover,
.bda-dark #bda-qem-favourite-container,
.bda-dark #bda-qem-twitch-container,
.bda-dark #bda-qem,
.da-channel:hover a,
.da-channel.da-selected a,
.da-channelNotices .da-channelNotice .da-message .da-btn,
.da-channelNotices .da-channelNotice.da-invite,
.da-channelNotices .da-channelNotice.da-quickSwitcher,
.da-contentConnectedVoice:active,
.da-contentHoveredText,
.da-contentHoveredVoice:active,
.da-contentSelectedText,
.da-contentSelectedVoice,
.da-contentSelectedVoice:active,
.create-guild-container.deprecated .action,
.create-guild-container.deprecated .create-or-join .form-inner,
.da-appMount .da-contextMenu,
.da-appMount .da-item:hover,
.da-modal .da-body,
.da-modal .da-footer,
.da-modal .da-footer,
.da-modal .da-input,
.da-modal .da-keyboardShortcutsModal,
.da-modal .da-modal,
.da-modal .da-quickswitcher,
.da-modal .da-topSectionNormal,
.da-popouts .da-body,
.da-popouts .da-calendarPicker .react-datepicker__day--outside-month,
.da-popouts .da-calendarPicker .react-datepicker__day.react-datepicker__day--disabled,
.da-popouts .da-calendarPicker .react-datepicker__day.react-datepicker__day--disabled:hover,
.da-popouts .da-container,
.da-popouts .da-focused,
.da-popouts .da-footer,
.da-popouts .da-footer,
.da-popouts .da-header,
.da-popouts .da-headerNormal,
.da-popouts .da-item:hover,
.da-popouts .da-menu,
.da-popouts .da-messageGroupWrapper,
.da-popouts .da-messageGroupWrapper:hover .da-actionButtons,
.da-popouts .da-messagesPopoutWrap,
.da-popouts .da-option.da-selected,
.da-popouts .da-quickMessage,
.form-deprecated .form-actions,
.form-deprecated .form-inner,
.need-help-modal.form.deprecated .footer,
.search-bar .search-bar-inner,
.search-bar.search-bar-light .search-bar-inner {
    background-color: var(--bgrm-overlay);
}

.app .search-results-wrap .search-result::before,
.app .search-results-wrap .search-result::after,
.create-guild-container.deprecated .create-or-join .actions .or,
.da-popouts .da-option:after {
    background: none;
}

.app .da-activityFeed,
.app .da-applicationStore,
.app .da-chat form,
.app .da-chat,
.app .da-container,
.app .da-content,
.app .da-contentRegion,
.app .content-region,
.app .da-guildsWrapper,
.app .da-headerBar,
.app .da-layer,
.app .da-layers,
.app .da-markup pre,
.app .da-members,
.app .da-messagesWrapper,
.app .da-noChannel,
.app .search-results-wrap .channel-separator .channel-name,
.app .search-results-wrap .search-header,
.app .search-results-wrap,
.app .da-sidebarRegion,
.app .da-standardSidebarView,
.app .da-title,
.app .da-typing,
.app .ui-standard-sidebar-view .content-region,
.app .ui-standard-sidebar-view .sidebar-region,
.app .ui-standard-sidebar-view,
.app .da-wrapper,
.app #friends,
.app,
.bda-dark .da-emojiPicker .da-header .search-bar,
.bda-dark #bda-qem button,
.da-channels,
.da-container,
.create-guild-container.deprecated,
.da-popouts .da-calendarPicker .react-datepicker__header,
.da-popouts .da-calendarPicker .react-datepicker,
.da-emojiPicker .da-stickyHeader,
.form-deprecated .btn-default,
.form.deprecated .btn-default,
.da-gameLibrary,
.da-option:after,
.search-bar,
.da-titleBar,
.da-video,
#app-mount,
#friends .friends-table .friend-table-add-wrapper .friend-table-add-header {
    background-color: transparent;
}
