body::before {
    content: "NOTICE";
    font-family: monospace;
    position: absolute;
    left: 20%;
    width: calc(60% - 0.5em);
    bottom: 25ex;
    font-size: 125%;
    z-index: 99999;
    background: #000;
    color: #ff0;
    font-weight: bold;
    padding: 0.5em;
    padding-left: 2em;
    border-radius: 1ex;
    line-height: 1.5;
}

body::after {
    content: "Unfortunately due to a recent Discord update Colored Channels is broken and irreparable for the foreseeable future pending an update to BandagedBD which will make repair possible. Sorry for the inconvenience.";
    font-family: monospace;
    position: absolute;
    width: 60%;
    left: 20%;
    bottom: 8ex;
    font-size: 125%;
    z-index: 9999;
    background: #000;
    color: #fff;
    font-weight: bold;
    padding: 1em;
    border-radius: 1ex;
    text-align: center;
    line-height: 1.5;
}
