@font-face {
    font-family: 'opendyslexic';
    src: url('http://dyslexicfonts.com/fonts/OpenDyslexic.ttf');
    font-style: normal;
    font-weight: normal;
}

*:not(code), ::-webkit-input-placeholder {
    font-family: opendyslexic !important;
    font-size: var(--font-size);
    word-spacing: var(--word-spacing);
}

.da-markup {
    line-height: var(--line-spacing);
}