@font-face {
  font-family: 'opendyslexic';
	src: url('https://dyslexicfonts.com/fonts/OpenDyslexic-Regular.ttf');
	font-style: normal;
	font-weight: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	src: url('https://dyslexicfonts.com/fonts/OpenDyslexic-Italic.ttf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexic';
	src: url('https://dyslexicfonts.com/fonts/OpenDyslexic-Bold.ttf');
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	src: url('https://dyslexicfonts.com/fonts/OpenDyslexic-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

*:not(code), ::-webkit-input-placeholder {
    font-family: opendyslexic !important;
    font-size: var(--font-size);
    word-spacing: var(--word-spacing);
}

.da-markup {
    line-height: var(--line-spacing);
}