@font-face {
    font-family: 'opendyslexic';
    src: url('https://qwerasd205.github.io/font/OpenDyslexic-Regular.woff');
    font-style: normal;
    font-weight: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	src: url('https://qwerasd205.github.io/font/OpenDyslexic-Italic.woff');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexic';
	src: url('https://qwerasd205.github.io/font/OpenDyslexic-Bold.woff');
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	src: url('https://qwerasd205.github.io/font/OpenDyslexic-BoldItalic.woff');
	font-weight: bold;
	font-style: italic;
}O

/* ----------------------------------------------------------------------- */

*:not(code), ::-webkit-input-placeholder {
    font-family: opendyslexic !important;
    font-size: var(--font-size, initial);
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

.da-markup {
    line-height: var(--line-spacing, initial);
}