/**
 * @name HLJS Names
 * @description Displays the name of the syntax hilighting language for a codeblock on hover.
 * @author Qwerasd
 * @authorId 140188899585687552
 * @version 1.2.0
 */

 .hljs {
    position: relative;
    overflow: hidden;
}

.hljs:not([class$="hljs"])::after {
    content: attr(class);
    text-indent: -90ch;
    position: absolute;
    top: 0; right: 0;
    transform: translateX(100%);
    overflow: hidden;
    white-space: pre;
    line-height: 1.75;
    padding-right: 0.9ch;
    padding-bottom: 0.5ex;
    text-align: right;
    background-color: rgba(0,0,0,0.25);
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    border-radius: 5px;
}

.hljs:hover::after {
    opacity: 1;
    transform: translateX(0);
}